<md-card [style.background-image]="'url(' + link.image + ')'" (click)="click()">
    <md-card-header>
      <md-card-title>{{link.title | truncate: 40}}</md-card-title>
      <md-card-subtitle>
        <p>
          {{link.publisher}}
        </p>
        <p>
            Tags: {{link.tags}}                      
        </p>
      </md-card-subtitle>
    </md-card-header>
    <md-card-actions>
      <button md-mini-fab class="button" (click)="delete()"><md-icon>delete</md-icon></button>
    </md-card-actions>

</md-card>